@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo_estadistica.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
    background-size: cover;
}


.inicio{
    background-color: #e8c47bf1;
    margin: 0px;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 90px;
    display: flex;
    justify-content: flex-end;
}
.ini{
    padding: 0px;
    margin-top: -97px;
    display: flex;
    justify-content: flex-end;
}
.sim{
    height: 80px;
    padding: 0;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

.pestañas{
    background-color: #a58c59c4;
    padding: 5px;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.indice{
    font-family: "Macondo", system-ui;
    font-size: 150%;
    background-color: #c0a57098;
    border: transparent;
    color: brown;
    font-weight: bold;
}

.toggleButton {
    padding: 10px 27px; /* Aumentar tamaño del botón */
    font-size: 22px; /* Aumentar tamaño del texto */
    font-family: 'Macondo', cursive;
    background-color: #f8ae0dd2;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px; /* Añadir bordes redondeados si lo deseas */
 }
 
.toggleButton:hover {
    background-color: #c6a700;
    transform: scale(1.05); /* Efecto de agrandado al pasar el mouse */
 }

.propaganda{
    height: 500px;
    display: flex;
    margin-top: -495px;
    margin-left: 950px;
}

.estadistica{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffff;
    font-family: "Macondo", system-ui;
}

.chart-container {
    width: 90%; /* Aumentar el ancho al 90% */
    max-width: 800px; /* Aumentar el máximo a 800px */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

@media (max-width: 768px){
    .pestañas{
        background-color: #a58c59c4;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        width: 100%;
    }

    .propaganda{
        height: 500px;
        display: flex;
        margin: auto;
    }
    
}