h1 {
    margin: 0;
   ;
}

section {
    padding: 2rem;
}

h2 {
    border-bottom: 2px solid #f3ebeb;
    padding-bottom: 0.5rem;
    color: #f3ebeb;
    font-family: "Macondo";
    font-size: 200;
}

.episode {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #9d825e;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: "Macondo",cursive;
}

/* Imagen del episodio */
.episode img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

/* Información del episodio */
.episode-info {
    flex: 1;
}

/* Efecto de elevación al pasar el mouse */
.episode:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}



.episode img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 1rem;
}

.episode-info {
    max-width: 600px;
}

.episode-info h3 {
    margin: 0 0 0.5rem;
}

.episode-info p {
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo02_mejorado.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    background-size: cover;
    font-family: "Macondo",cursive;
}

.inicio{
    background-color: #e8c47bf1;
    margin: 0px;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 90px;
    display: flex;
    justify-content: flex-end;
}
.ini{
    padding: 0px;
    margin-top: -97px;
    display: flex;
    justify-content: flex-end;
}
.sim{
    height: 80px;
    padding: 0;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

.pestañas{
    background-color: #a58c59c4;
    padding: 5px;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.indice{
    font-family: "Macondo", system-ui;
    font-size: 150%;
    background-color: #c0a57098;
    border: transparent;
    color: brown;
    font-weight: bold;
}

@media (max-width: 768px){
    .pestañas{
        background-color: #a58c59c4;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        width: 100%;
    }
}